.navContainer {
    width: 100%;
    background-color: skyblue;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.containerCategories {
    display: flex;
    list-style: none;
    gap: 30px;
}